# clk_100 is a misnomer for Zybo, since the clock is 125 MHz. The name
# is taken from Zedboard's reference clock

NET "clk_100" TNM_NET = "TN_gclk";
TIMESPEC "TS_gclk" = PERIOD "TN_gclk" 8 ns HIGH 50 %;
NET "clk_100" CLOCK_DEDICATED_ROUTE = FALSE;

# The VGA outputs are turned into an analog voltage by virtue of a resistor
# network, so the flip flops driving these must sit in the IOBs to minimize
# timing skew. The RTL code should handle this, but the constraint below
# is there to fail if something goes wrong about this.

INST "xillybus_ins/vga_iob_ff[*]" TNM = "tgrp_vga_pads_ffs";
TIMESPEC "TS_force_iob_ffs" = FROM "tgrp_vga_pads_ffs" 5.5 ns ;

# The VGA core's MMCM must be close to the HDMI I/O's pins, because it drives
# the OSERDES' clock directly
 
INST "*/vga_clk_ins/vga_mmcm" LOC="MMCME2_ADV_X0Y1";

NET "clk_100"        LOC=L16 | IOSTANDARD=LVCMOS33; #IO_L11P_T1_SRCC_35
NET "GPIO_LED[0]"      LOC=M14 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_35
NET "GPIO_LED[1]"      LOC=M15 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_35
NET "GPIO_LED[2]"      LOC=G14 | IOSTANDARD=LVCMOS33; #IO_0_35
NET "GPIO_LED[3]"      LOC=D18 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_AD1N_35

NET "vga4_red[0]"      LOC=M19 | IOSTANDARD=LVCMOS33; #IO_L7P_T1_AD2P_35
NET "vga4_red[1]"      LOC=L20 | IOSTANDARD=LVCMOS33; #IO_L9N_T1_DQS_AD3N_35
NET "vga4_red[2]"      LOC=J20 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_AD5P_35
NET "vga4_red[3]"      LOC=G20 | IOSTANDARD=LVCMOS33; #IO_L18N_T2_AD13N_35
NET "vga4_red[4]"      LOC=F19 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_AD12P_35
NET "vga4_green[0]"      LOC=H18 | IOSTANDARD=LVCMOS33; #IO_L14N_T2_AD4N_SRCC_35
NET "vga4_green[1]"      LOC=N20 | IOSTANDARD=LVCMOS33; #IO_L14P_T2_SRCC_34
NET "vga4_green[2]"      LOC=L19 | IOSTANDARD=LVCMOS33; #IO_L9P_T1_DQS_AD3P_35
NET "vga4_green[3]"      LOC=J19 | IOSTANDARD=LVCMOS33; #IO_L10N_T1_AD11N_35
NET "vga4_green[4]"      LOC=H20 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_AD5N_35
NET "vga4_green[5]"      LOC=F20 | IOSTANDARD=LVCMOS33; #IO_L15N_T2_DQS_AD12N_35
NET "vga4_blue[0]"      LOC=P20 | IOSTANDARD=LVCMOS33; #IO_L14N_T2_SRCC_34
NET "vga4_blue[1]"      LOC=M20 | IOSTANDARD=LVCMOS33; #IO_L7N_T1_AD2N_35
NET "vga4_blue[2]"      LOC=K19 | IOSTANDARD=LVCMOS33; #IO_L10P_T1_AD11P_35
NET "vga4_blue[3]"      LOC=J18 | IOSTANDARD=LVCMOS33; #IO_L14P_T2_AD4P_SRCC_35
NET "vga4_blue[4]"      LOC=G19 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_AD13P_35
NET "vga_hsync"        LOC=P19 | IOSTANDARD=LVCMOS33; #IO_L13N_T2_MRCC_34
NET "vga_vsync"        LOC=R19 | IOSTANDARD=LVCMOS33; #IO_0_34

# PS_GPIO pins:
# GPIO pin 0 was USB OTG PHY reset on Zedboard, now going from MIO46 directly
# GPIO pins 6-1 were connected to OLED on Zedboard, now unused
# GPIO pins 10-7 were connected to the four LEDS not used by Xillybus.
# GPIO pins 18-15 went to four slide switches (Zedboard has 8, Zybo only 4)
# GPIO pin 23 went to Zedboard's 5th, middle push button. Zybo has only four.

# On-board Slide Switches

NET PS_GPIO[11]      LOC=G15 | IOSTANDARD=LVCMOS33; #IO_L19N_T3_VREF_35
NET PS_GPIO[12]      LOC=P15 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_34
NET PS_GPIO[13]      LOC=W13 | IOSTANDARD=LVCMOS33; #IO_L4N_T0_34
NET PS_GPIO[14]      LOC=T16 | IOSTANDARD=LVCMOS33; #IO_L9P_T1_DQS_34

# On-board Pushbuttons
NET  PS_GPIO[19]   LOC=R18 | IOSTANDARD=LVCMOS33; #IO_L20N_T3_34
NET  PS_GPIO[20]   LOC=P16 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_34
NET  PS_GPIO[21]   LOC=V16 | IOSTANDARD=LVCMOS33; #IO_L18P_T2_34
NET  PS_GPIO[22]   LOC=Y16 | IOSTANDARD=LVCMOS33; #IO_L7P_T1_34

# The PMODs have been assigned so that software that ran on the Zedboard sees
# the same A-B-C mapping w.r.t. the GPIO number assignments

## Pmod Header JA (XADC)
NET PS_GPIO[24]       LOC=N15 | IOSTANDARD=LVCMOS33; #IO_L21P_T3_DQS_AD14P_35
NET PS_GPIO[25]       LOC=L14 | IOSTANDARD=LVCMOS33; #IO_L22P_T3_AD7P_35
NET PS_GPIO[26]       LOC=K16 | IOSTANDARD=LVCMOS33; #IO_L24P_T3_AD15P_35
NET PS_GPIO[27]       LOC=K14 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_AD6P_35
NET PS_GPIO[28]       LOC=N16 | IOSTANDARD=LVCMOS33; #IO_L21N_T3_DQS_AD14N_35
NET PS_GPIO[29]       LOC=L15 | IOSTANDARD=LVCMOS33; #IO_L22N_T3_AD7N_35
NET PS_GPIO[30]       LOC=J16 | IOSTANDARD=LVCMOS33; #IO_L24N_T3_AD15N_35
NET PS_GPIO[31]       LOC=J14 | IOSTANDARD=LVCMOS33; #IO_L20N_T3_AD6N_35

## Pmod Header JB
NET PS_GPIO[32]       LOC=T20 | IOSTANDARD=LVCMOS33; #IO_L15P_T2_DQS_34
NET PS_GPIO[33]       LOC=U20 | IOSTANDARD=LVCMOS33; #IO_L15N_T2_DQS_34
NET PS_GPIO[34]       LOC=V20 | IOSTANDARD=LVCMOS33; #IO_L16P_T2_34
NET PS_GPIO[35]       LOC=W20 | IOSTANDARD=LVCMOS33; #IO_L16N_T2_34
NET PS_GPIO[36]       LOC=Y18 | IOSTANDARD=LVCMOS33; #IO_L17P_T2_34
NET PS_GPIO[37]       LOC=Y19 | IOSTANDARD=LVCMOS33; #IO_L17N_T2_34
NET PS_GPIO[38]       LOC=W18 | IOSTANDARD=LVCMOS33; #IO_L22P_T3_34
NET PS_GPIO[39]       LOC=W19 | IOSTANDARD=LVCMOS33; #IO_L22N_T3_34

## Pmod Header JC
NET PS_GPIO[40]       LOC=V15 | IOSTANDARD=LVCMOS33; #IO_L10P_T1_34
NET PS_GPIO[41]       LOC=W15 | IOSTANDARD=LVCMOS33; #IO_L10N_T1_34
NET PS_GPIO[42]       LOC=T11 | IOSTANDARD=LVCMOS33; #IO_L1P_T0_34
NET PS_GPIO[43]       LOC=T10 | IOSTANDARD=LVCMOS33; #IO_L1N_T0_34
NET PS_GPIO[44]       LOC=W14 | IOSTANDARD=LVCMOS33; #IO_L8P_T1_34
NET PS_GPIO[45]       LOC=Y14 | IOSTANDARD=LVCMOS33; #IO_L8N_T1_34
NET PS_GPIO[46]       LOC=T12 | IOSTANDARD=LVCMOS33; #IO_L2P_T0_34
NET PS_GPIO[47]       LOC=U12 | IOSTANDARD=LVCMOS33; #IO_L2N_T0_34

## Pmod Header JD
NET PS_GPIO[48]       LOC=T14 | IOSTANDARD=LVCMOS33; #IO_L5P_T0_34
NET PS_GPIO[49]       LOC=T15 | IOSTANDARD=LVCMOS33; #IO_L5N_T0_34
NET PS_GPIO[50]       LOC=P14 | IOSTANDARD=LVCMOS33; #IO_L6P_T0_34
NET PS_GPIO[51]       LOC=R14 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_VREF_34
NET PS_GPIO[52]       LOC=U14 | IOSTANDARD=LVCMOS33; #IO_L11P_T1_SRCC_34
NET PS_GPIO[53]       LOC=U15 | IOSTANDARD=LVCMOS33; #IO_L11N_T1_SRCC_34
NET PS_GPIO[54]       LOC=V17 | IOSTANDARD=LVCMOS33; #IO_L21P_T3_DQS_34
NET PS_GPIO[55]       LOC=V18 | IOSTANDARD=LVCMOS33; #IO_L21N_T3_DQS_34

## Pmod Header JE -- was MIO PMOD on Zedboard, now using leftover GPIOs
NET PS_GPIO[0]         LOC=V12 | IOSTANDARD=LVCMOS33; #IO_L4P_T0_34
NET PS_GPIO[1]         LOC=W16 | IOSTANDARD=LVCMOS33; #IO_L18N_T2_34
NET PS_GPIO[2]         LOC=J15 | IOSTANDARD=LVCMOS33; #IO_25_35
NET PS_GPIO[3]         LOC=H15 | IOSTANDARD=LVCMOS33; #IO_L19P_T3_35
NET PS_GPIO[4]         LOC=V13 | IOSTANDARD=LVCMOS33; #IO_L3N_T0_DQS_34
NET PS_GPIO[5]         LOC=U17 | IOSTANDARD=LVCMOS33; #IO_L9N_T1_DQS_34
NET PS_GPIO[6]         LOC=T17 | IOSTANDARD=LVCMOS33; #IO_L20P_T3_34
NET PS_GPIO[7]         LOC=Y17 | IOSTANDARD=LVCMOS33; #IO_L7N_T1_34

# Pin for detecting USB OTG over-current condition
NET "otg_oc"        LOC=U13 | IOSTANDARD=LVCMOS33; #IO_L3P_T0_DQS_PUDC_B_34

# Ethernet PHY's reset and interrupt pin to GPIOs
NET PS_GPIO[15]     LOC=F16 | IOSTANDARD=LVCMOS33; #IO_L6P_T0_35 #INTB
NET PS_GPIO[16]     LOC=E17 | IOSTANDARD=LVCMOS33; #IO_L3P_T0_DQS_AD1P_35 #RESETN

# HDMI I2C pins are mapped to GPIO
NET PS_GPIO[17]      LOC=G17 | IOSTANDARD=LVCMOS33; #HDMI_SCL IO_L16P_T2_35
NET PS_GPIO[18]      LOC=G18 | IOSTANDARD=LVCMOS33; #HDMI_SDA IO_L16N_T2_35

# These GPIOs don't have any current use, but they must be connected to
# something, or build will fail. So they go to unused pins
NET PS_GPIO[8]      LOC=U18 | IOSTANDARD=LVCMOS33; # Unconnected
NET PS_GPIO[9]      LOC=U19 | IOSTANDARD=LVCMOS33; # Unconnected
NET PS_GPIO[10]      LOC=R16 | IOSTANDARD=LVCMOS33; # Unconnected
NET PS_GPIO[23]      LOC=R17 | IOSTANDARD=LVCMOS33; # Unconnected

# Pins to audio chip
NET audio_bclk      LOC=K18 | IOSTANDARD=LVCMOS33; #IO_L12N_T1_MRCC_35
NET audio_mclk      LOC=T19 | IOSTANDARD=LVCMOS33; #IO_25_34
NET audio_mute      LOC=P18 | IOSTANDARD=LVCMOS33; #IO_L23N_T3_34
NET audio_dac       LOC=M17 | IOSTANDARD=LVCMOS33; #IO_L8P_T1_AD10P_35
NET audio_dac_lrclk LOC=L17 | IOSTANDARD=LVCMOS33; #IO_L11N_T1_SRCC_35
NET audio_adc       LOC=K17 | IOSTANDARD=LVCMOS33; #IO_L12P_T1_MRCC_35
NET audio_adc_lrclk LOC=M18 | IOSTANDARD=LVCMOS33; #IO_L8N_T1_AD10N_35
NET smb_sclk        LOC=N18 | IOSTANDARD=LVCMOS33; #IO_L13P_T2_MRCC_34
NET smb_sdata       LOC=N17 | IOSTANDARD=LVCMOS33; #IO_L23P_T3_34

# HDMI (DVI) outputs
NET hdmi_clk_n    LOC=H17 | IOSTANDARD=TMDS_33; #IO_L13N_T2_MRCC_35
NET hdmi_clk_p    LOC=H16 | IOSTANDARD=TMDS_33; #IO_L13P_T2_MRCC_35
NET hdmi_d_n[0]   LOC=D20 | IOSTANDARD=TMDS_33; #IO_L4N_T0_35
NET hdmi_d_p[0]   LOC=D19 | IOSTANDARD=TMDS_33; #IO_L4P_T0_35
NET hdmi_d_n[1]   LOC=B20 | IOSTANDARD=TMDS_33; #IO_L1N_T0_AD0N_35
NET hdmi_d_p[1]   LOC=C20 | IOSTANDARD=TMDS_33; #IO_L1P_T0_AD0P_35
NET hdmi_d_n[2]   LOC=A20 | IOSTANDARD=TMDS_33; #IO_L2N_T0_AD8N_35
NET hdmi_d_p[2]   LOC=B19 | IOSTANDARD=TMDS_33; #IO_L2P_T0_AD8P_35
NET hdmi_out_en   LOC=F17 | IOSTANDARD=LVCMOS33; #IO_L6N_T0_VREF_35
